<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZIOLroCEbeUJKU15Drqhi3S024jKfDd8</string>
	<key>GCM_SENDER_ID</key>
	<string>497569276486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.unishop</string>
	<key>PROJECT_ID</key>
	<string>image-repository-53ee3</string>
	<key>STORAGE_BUCKET</key>
	<string>image-repository-53ee3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497569276486:ios:56f4f8f060aae3d1882047</string>
	<key>DATABASE_URL</key>
	<string>https://image-repository-53ee3-default-rtdb.firebaseio.com</string>
</dict>
</plist>